# Run the cells of the following section to first get the data and install all the required packages.

In [1]:
!curl http://ceo.karnataka.gov.in/finalrolls_2020/English/MR/AC163/S10A163P1.pdf -o name.pdf

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4777k  100 4777k    0     0  1336k      0  0:00:03  0:00:03 --:--:-- 1336k

In [2]:
!pip install pypdf2

Requirement already satisfied: pypdf2 in /usr/local/lib/python3.6/dist-packages (1.26.0)

In [3]:
!pip3 install PIL
!pip3 install pytesseract
!pip3 install pdf2image
!sudo apt-get install tesseract-ocr

ERROR: Could not find a version that satisfies the requirement PIL (from versions: none)
ERROR: No matching distribution found for PIL
Requirement already satisfied: pytesseract in /usr/local/lib/python3.6/dist-packages (0.3.4)
Requirement already satisfied: Pillow in /usr/local/lib/python3.6/dist-packages (from pytesseract) (7.0.0)
Requirement already satisfied: pdf2image in /usr/local/lib/python3.6/dist-packages (1.13.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from pdf2image) (7.0.0)
Reading package lists... Done
Building dependency tree
Reading state information... Done
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
0 upgraded, 0 newly installed, 0 to remove and 31 not upgraded.

In [4]:
!sudo apt-get install --assume-yes python-poppler

Reading package lists... Done
Building dependency tree
Reading state information... Done
python-poppler is already the newest version (0.12.1-10).
0 upgraded, 0 newly installed, 0 to remove and 31 not upgraded.

In [5]:
!sudo apt-get install --assume-yes poppler-utils

Reading package lists... Done
Building dependency tree
Reading state information... Done
poppler-utils is already the newest version (0.62.0-2ubuntu2.10).
0 upgraded, 0 newly installed, 0 to remove and 31 not upgraded.

In [6]:
!dpkg -L poppler-utils

/.
/usr
/usr/bin
/usr/bin/pdfdetach
/usr/bin/pdffonts
/usr/bin/pdfimages
/usr/bin/pdfinfo
/usr/bin/pdfseparate
/usr/bin/pdfsig
/usr/bin/pdftocairo
/usr/bin/pdftohtml
/usr/bin/pdftoppm
/usr/bin/pdftops
/usr/bin/pdftotext
/usr/bin/pdfunite
/usr/share
/usr/share/doc
/usr/share/doc/poppler-utils
/usr/share/doc/poppler-utils/copyright
/usr/share/lintian
/usr/share/lintian/overrides
/usr/share/lintian/overrides/poppler-utils
/usr/share/man
/usr/share/man/man1
/usr/share/man/man1/pdfdetach.1.gz
/usr/share/man/man1/pdffonts.1.gz
/usr/share/man/man1/pdfimages.1.gz
/usr/share/man/man1/pdfinfo.1.gz
/usr/share/man/man1/pdfseparate.1.gz
/usr/share/man/man1/pdfsig.1.gz
/usr/share/man/man1/pdftocairo.1.gz
/usr/share/man/man1/pdftohtml.1.gz
/usr/share/man/man1/pdftoppm.1.gz
/usr/share/man/man1/pdftops.1.gz
/usr/share/man/man1/pdftotext.1.gz
/usr/share/man/man1/pdfunite.1.gz
/usr/share/doc/poppler-utils/changelog.Debian.gz

In [7]:
!echo $PATH

/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin

In [0]:
!pdftocairo --help

In [0]:
!export PATH=/path/to/my/bin:${PATH}

# The actual task starts from here on.

In [0]:
# Import libraries 
from PIL import Image 
import pytesseract 
import sys 
from pdf2image import convert_from_path 
import os

In [0]:
# Path of the pdf 
PDF_file = "name.pdf"

''' 
Part #1 : Converting PDF to images 
'''

# Store all the pages of the PDF in a variable 
pages = convert_from_path(PDF_file, 500) 

# Counter to store images of each page of PDF to image 
counter = 1

# Iterate through all the pages stored above 
for page in pages: 

	# Declaring filename for each page of PDF as JPG 
	# For each page, filename will be: 
	# PDF page 1 -> page_1.jpg 
	# PDF page 2 -> page_2.jpg 
	# PDF page 3 -> page_3.jpg 
	# .... 
	# PDF page n -> page_n.jpg 
	filename = "page_"+str(counter)+".jpg"
	
	# Save the image of the page in system 
	page.save(filename, 'JPEG') 

	# Increment the counter to update filename 
	counter += 1

In [0]:
''' 
Part #2 - Recognizing text from the images using OCR 
'''
# Variable to get count of total number of pages 
filelimit = counter-1

# Creating a text file to write the output 
outfile = "out_text.txt"

# Open the file in append mode so that 
# All contents of all images are added to the same file 
f = open(outfile, "a") 

# Iterate from 1 to total number of pages 
for i in range(1, filelimit + 1): 

	# Set filename to recognize text from 
	# Again, these files will be: 
	# page_1.jpg 
	# page_2.jpg 
	# .... 
	# page_n.jpg 
	filename = "page_"+str(i)+".jpg"
		
	# Recognize the text as string in image using pytesserct 
	txt = str(((pytesseract.image_to_string(Image.open(filename))))) 

	# The recognized text is stored in variable text 
	# Any string processing may be applied on text  
	txt = txt.replace('-\n', '')	 

	# Finally, write the processed text to the file. 
	f.write(txt) 

# Close the file after writing all the text. 
f.close()

In [0]:
#I have chosen the regular expressions to extract the data or patterns.
import re

pattern = re.compile('Name \D ([a-zA-z\s]+)$')

#All this above code means is that extract or capture the alphabetic characters/expressions that only 
#have after "Name". This is because Name in the presented data also stands for address name. 

count = 0

for i, line in enumerate(open('out_text.txt')):

    for match in re.finditer(pattern, line):
      print(pattern.findall(line)[0][:-2])#prrint all the names matching the above expression. 
      count+=1

print(count)# total names on the pdf file.

In [0]:
import pandas as pd

data = pd.DataFrame(columns=['Initials', 'First name', 'Middle name', 'Last name'])

In [0]:
pattern = re.compile('Name \D ([a-zA-z\s]+)$')
#The same pattern as above.


pssbl_initials = ['LATE', 'Late', 'DR', 'Dr', 'LT', 'L', 'A', 'P']

for i, line in enumerate(open('out_text.txt')):

    for match in re.finditer(pattern, line):
      new = pattern.findall(line)[0][:-2]
      string = new.split(' ')
      if(len(string)==1):
        data = data.append({'First name': string[0]}, ignore_index=True)
      elif(len(string)==2):
        #here it can be assumed that when there are only two words in the variable 'string', it would be first name and 
        #last name. This is because whenever middle name is present in whichever order, the minimum length of the 
        #'string' would be 3. Another case is with initials. Also here, whenever initials are present a person's last name
        #is also taken together. Hence total words are 3.
        data = data.append({'First name': string[0], 'Last name': string[1]}, ignore_index=True)
      elif(len(string)==4):
        #this means that someone's name has all four features 'Initials', 'First name', 'Middle name' and 'Last name'
        #and also there can be no difference in this form's order.
        data = data.append({'Initials': string[0], 'First name': string[1], 'Middle name': string[2], 'Last name': string[3]}, ignore_index=True)
      elif(len(string)==3 and string[0] in pssbl_initials):
        #On briefly overviewing the dataset, the possible initials seen in the same were only the ones mentioned in pssbl_initials list. 
        #Therefore, if the initials are the ones present in the list then the name would be of the form "initial_name first_name last_name".
        #Here i tackle that case.
        data = data.append({'Initials': string[0], 'First name': string[1], 'Last name': string[2]}, ignore_index=True)
      else:
        # The last case where data can be of the form "Initial_name first_name last name".
        data = data.append({'First name': string[0], 'Middle name': string[1], 'Last name': string[2]}, ignore_index=True)

In [30]:
data
#Here the data has a total of 547 rows which is the same as the total count in the above cells.
#This means that the all of the data was correctly handled and none of the names or cases/forms
#were missed.

     Initials First name Middle name   Last name
0         NaN     Brijay           N        Kalr
1         NaN   Lawrance         NaN    Rodrigue
2         NaN    Isidore         NaN    Rodrigue
3         NaN    Brijaya           N        Kalr
4         NaN    Lakshmi         NaN       Mukun
...       ...        ...         ...         ...
1089      NaN      Karan         NaN          Ra
1090      NaN      MANJU         NaN         RAV
1091      NaN       RAVI         NaN      NARAYA
1092      NaN    SANDHYA         NaN  SUBRAMANYA
1093      NaN      ANANT         NaN         NaN

[1094 rows x 4 columns]

In [0]:
#Last but not the least, it is important to filter out duplicate data from the pandas dataframe
data.drop_duplicates(inplace=True)

In [0]:
#Finally
data.to_csv("names.csv")